// LIGHT THEME VARIABLES
:root {
  --primary: #00b96b;
  --primary-dark: #00784a;
  --text: #1e1e1e;
  --bg: #ffffff;
  --bg-alt: #f9f9f9;
  --card: #f5f5f5;
}

// DARK THEME VARIABLES
.dark {
  --primary: #00b96b;
  --primary-dark: #00a05e;
  --text: #f1f1f1;
  --bg: #121212;
  --bg-alt: #1f1f1f;
  --card: #242424;
}
