@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button($bg, $color: #fff) {
  background-color: $bg;
  color: $color;
  padding: 0.5rem 1.25rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;

  &:hover {
    background-color: darken($bg, 10%);
  }
}
