@use './themes/variables';
@use './mixins.scss';
@use './components/Navbar';
@use './components/Footer';
@use './components/login';
@use './components/register';
@use './components/review';
@use './pages/home';
@use './pages/search';
@use './pages/booking';
@use './pages/dashboard';
@use './pages/notfound';
@use './themes/theme';
@use './pages/howItWorks';

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
}

.dark {
  .admin {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
    }
  }
}


.container {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 1rem;
}
